@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
:root {
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);
  --GrayishBlue: hsl(217, 19%, 38%);
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  align-items: center;
  background-color: var(--darkBlue);
  color: var(--lightCyan);
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Manrope', sans-serif;
  font-size: 28px;
  justify-content: center;
}
.main-container {
  background-color: var(--darkGrayishBlue);
  border-radius: 10px;
  margin: 120px auto;
  padding: 20px 20px 55px;
  position: relative;
  text-align: center;
  width: 92%;
}
.id-advice {
  color: var(--neonGreen);
  font-size: 0.65rem;
  letter-spacing: 3.5px;
  margin: 20px 0 25px;
  text-transform: uppercase;
}
.advice {
  display: block;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 33px;
}
.divider-container {
  height: 2rem;
  margin-top: 15px;
}
.line {
  background-image: url('../src/img/pattern-divider-mobile.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: inherit;
}
.button-container {
  background-color: var(--neonGreen);
  background-image: url('../src/img/icon-dice.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  height: 4rem;
  left: 50%;
  position: absolute;
  top: 85%;
  transform: translateY(30%) translateX(-50%);
  transition: all ease-in-out 0.3s;
  width: 4rem;
}
.button-container:hover {
  box-shadow: -1px 1px 88px 12px var(--neonGreen);
  -webkit-box-shadow: -1px 1px 88px 12px var(--neonGreen);
  -moz-box-shadow: -1px 1px 88px 12px var(--neonGreen);
  transition: all ease-in-out 0.3s;
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
@media screen and (min-width: 900px) {
  .main-container {
    margin-top: 220px;
    padding: 50px;
    padding-bottom: 70px;
    width: 37.5%;
  }
  .id-advice {
    font-size: 0.8rem;
    margin-top: 0;
  }
  .advice {
    font-size: 1.7rem;
    line-height: 40px;
  }
  .line {
    background-image: url('../src/img/pattern-divider-desktop.svg');
  }
}